<body class="bg-gradient-primary">
    <div class="container">
        <!-- Leer Cliente -->
        <div *ngIf="objR=='cliente'">
            <h1 class="h4 text-gray-900 mb-4">Clientes</h1>

            <table datatable [dtOptions]="dtoptions">
                <thead>
                    <tr>
                        <th style="width: 20%">Identificación</th>
                        <th style="width: 20%">Nombre y Apellido</th>
                        <th style="width: 20%">Provincia</th>
                        <th style="width: 20%">Código postal</th>
                        <th style="width: 20%">Correo</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td> {{cliente._id}}</td>
                        <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                        <td>{{cliente.provincia}}, {{cliente.ciudad}}</td>
                        <td>{{cliente.codigo_postal}}</td>
                        <td>{{cliente.usuario.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Leer Cuenta -->
        <div *ngIf="objR=='cuenta'">
            <h1 class="h4 text-gray-900 mb-4">Cuentas</h1>

            <table datatable [dtOptions]="dtoptions">
                <thead>
                    <tr>
                        <th style="width: 20%">Identificación</th>
                        <th style="width: 10%">Saldo</th>
                        <th style="width: 10%">Tipo</th>
                        <th style="width: 60%">Clientes asociados a esta cuenta</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuenta of cuentas">
                        <td>{{cuenta._id}}</td>
                        <td>{{cuenta.monto}}$</td>
                        <td>{{cuenta.tipo === "C" ? "Corriente" : "Ahorro"}}</td>
                        <td>{{cuenta.clientes.join(", ")}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>