
<button (click)="logout()">Salir del Sistema</button>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-text mx-3">Hola, {{data.nombre}} {{data.apellido}}</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard
        <li class="nav-item">
            <a class="nav-link" >
                <span>Dashboard</span></a>
        </li>


        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" >
                <span>Cuenta</span></a>
        </li>

        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link">
                <span>Transferencias</span></a>
        </li> -->
    </ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">
                
                <div>
                    <h3>Su información: </h3>
                    <p>Nombre: {{data.nombre}}</p>
                    <p>Apellido: {{data.apellido}}</p>
                    <p>Ciudad: {{data.ciudad}}</p>
                    <p>Codigo postal: {{data.codigo_postal}}</p>
                    <p>Identificacion: {{data.identificacion}}</p>
                    <p>Provincia: {{data.provincia}}</p>
                    <p>Nickname: {{data.usuario.nickname}}</p>
                </div>
               

            </div>
            <!-- End of Main Content -->
        </div>
        
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">
                
                <h3>Seleccione una Cuenta</h3>
                <div style="display: flex; flex-wrap: wrap; gap: 10px;">
                    <button *ngFor="let cuenta of cuentas" style="text-decoration: none; border: none;" (click)="showCuenta(cuenta._id)">
                        <div style="background-color: antiquewhite; width: 380px; padding: 10px; border-radius: 10px">
                                <p style="color: gray;">id: {{cuenta._id}}</p>
                                <p style="color: black;">Tipo de cuenta: {{cuenta.tipo === "A" ? "Ahorro" : "Corriente"}}</p>
                                <p style="color: black;">Actualmente tiene: <b>{{cuenta.monto}} {{cuenta.moneda}}</b></p>
                        </div>
                    </button>

                </div>
                <div *ngIf="cuentaid">
                    <h3>Información de la cuenta</h3>
                    <div>
                        <div style="background-color: antiquewhite; width: 380px; padding: 10px; border-radius: 10px">
                            <p style="color: gray;">id: {{cuentaid._id}}</p>
                            <p style="color: black;">Tipo de cuenta: {{cuentaid.tipo === "A" ? "Ahorro" : "Corriente"}}</p>
                            <p style="color: black;">Actualmente tiene: <b>{{cuentaid.monto}} {{cuentaid.moneda}}</b></p>
                            <p>Clientes que participan en la cuenta: </p>
                            <p *ngFor="let clientes of cuentaid.clientes">- {{clientes}}</p>
                    </div>
                    </div>

                </div>
                <div *ngIf="cuentaid">
                    <app-transferencia-interna [id]="cuentaid._id"></app-transferencia-interna>
                </div>
            </div>
            <!-- End of Main Content -->
        </div>
        
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->