<body class="bg-gradient-primary">
    <div class="container">
        <h1 class="h4 text-gray-900 mb-4">{{title}} {{objR}} </h1>
        <!-- Leer Empleado
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 18%">Identificación</th>
                    <th style="width: 18%">Nombre y Apellido</th>
                    <th style="width: 18%">Provincia</th>
                    <th style="width: 18%">Código postal</th>
                    <th style="width: 18%">Correo</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td> <span class="badge badge-primary text-black">{{cliente.fila}}</span> {{cliente.id}}</td>
                    <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                    <td>{{cliente.provincia}}, {{cliente.ciudad}}</td>
                    <td>{{cliente.codigo}}</td>
                    <td>{{cliente.email}}</td>

                    <td style="white-space: nowrap">
                        <a class="btn btn-secondary" (click)="editar(cliente)">
                            Editar
                        </a>
                    </td>
                </tr>
                <tr *ngIf="!clientes">
                    <td colspan="4" class="text-center">
                    </td>
                </tr>
            </tbody>
        </table>
        -->



    </div>
</body>