<body class="bg-gradient-primary">
    <div class="container">

        <!-- Leer Empleado -->
        <div *ngIf="objR=='empleado'">
            <h1 class="h4 text-gray-900 mb-4">Empleados</h1>

            <table datatable [dtOptions]="dtoptions" class="table ">
                <thead>
                    <tr>
                        <th style="width: 25%">Identificación</th>
                        <th style="width: 25%">Nombre</th>
                        <th style="width: 25%">Apellido</th>
                        <th style="width: 25%">Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{empleado._id}}</td>
                        <td>{{empleado.nombre}} </td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.usuario.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Leer banco -->
        <div *ngIf="objR=='banco'">
            <h1 class="h4 text-gray-900 mb-4">Bancos</h1>

            <table datatable [dtOptions]="dtoptions" class="table ">
                <thead>
                    <tr>
                        <th style="width: 14%">Id</th>
                        <th style="width: 14%">Nombre</th>
                        <th style="width: 14%">Usuario</th>
                        <th style="width: 14%">Contraseña</th>
                        <th style="width: 14%">Dominio</th>
                        <th style="width: 14%">Dir Prueba</th>
                        <th style="width: 14%">Dir Transferir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let banco of bancos">
                        <td> {{banco._id}}</td>
                        <td>{{banco.nombre}} </td>
                        <td>{{banco.usuario}} </td>
                        <td>{{banco.password}} </td>
                        <td>{{banco.dominio}}</td>
                        <td>{{banco.prueba}}</td>
                        <td>{{banco.transferir}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>