<body class="bg-gradient-primary">
    <div class="container">
        <h1 class="h4 text-gray-900 mb-4">{{title}} {{objR}}</h1>

        <!-- Leer Empleado -->
        <div *ngIf="objR=='empleado'">

            <table datatable [dtOptions]="dtoptions" class="table ">
                <thead>
                    <tr>
                        <th style="width: 18%">Identificación</th>
                        <th style="width: 18%">Nombre</th>
                        <th style="width: 18%">Apellido</th>
                        <th style="width: 18%">Correo</th>
                        <th style="width: 18%">Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td> {{empleado.id}}</td>
                        <td>{{empleado.nombre}} </td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.email}}</td>
                        <!--<td>{{empleado.usuario}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Leer banco -->
        <div *ngIf="objR=='banco'">

            <table datatable [dtOptions]="dtoptions" class="table ">
                <thead>
                    <tr>
                        <th style="width: 33%">Identificación</th>
                        <th style="width: 33%">Nombre</th>
                        <th style="width: 33%">Dominio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let banco of bancos">
                        <td> {{banco.id}}</td>
                        <td>{{banco.nombre}} </td>
                        <td>{{banco.dominio}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>