<body class="bg-gradient-primary">
    <div class="container">
        <!-- Desactivar Banco -->
        <div *ngIf="objR=='banco'">
            <h1 class="h4 text-gray-900 mb-4">Bancos desactivados</h1>
            <table datatable [dtOptions]="dtoptions" class="table">
                <thead>
                    <tr>
                        <th style="width: 45%">Identificación</th>
                        <th style="width: 45%">Nombre</th>
                        <th style="width: 10%"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let banco of bancos">
                        <td> {{banco.id}}</td>
                        <td>{{banco.nombre}} </td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-danger" (click)="activar(banco)">
                                Desactivar
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</body>