
<body class="bg-gradient-primary">  
  <div class="container">

      <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                  <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                  <div class="col-lg-7">
                      <div class="p-5">

                          <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-4">Dashboard</h1>
                          </div>
                          <div class="card" style="width: 18rem;" mt-0>
                            <div class="card-body">
                              <h5 class="card-title">Cuenta</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Numero</h6>
                              <p class="card-text">Some lk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                            </div>
                          </div>
                        
                          <div class="card" style="width: 18rem;" mt-3>
                            <div class="card-body">
                              <h5 class="card-title">Cuenta</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Numero</h6>
                              <p class="card-text">Some lk of the card's content.</p>
                              <!--<a href="#" class="card-link">Card link</a>-->
                              <a [routerLink]="'/cuenta'" [routerLinkActive]="'active'"> Cuenta </a> &nbsp;
                            </div>
                          </div>

                        </div>   
                  </div>
              </div>
          </div>
      </div>

  </div>
</body>


