<body class="bg-gradient-primary">
    <div class="container">

        <!-- <h2>Cuentas </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 30%">Identificación</th>
                    <th style="width: 30%">Tipo</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cuenta of cuentas">
                    <td> <span class="badge badge-primary text-black">{{cuenta.fila}}</span> {{cuenta.id}}</td>
                    <td>{{cuenta.tipo}}</td>
                    <td style="white-space: nowrap">
                        <a class="btn btn-secondary" (click)="editar(cuenta)">
                            Editar
                        </a>
                    </td>
                </tr>
            
            </tbody>
        </table>


        <h2>Inactivas </h2>
        <table class="table table-height">
            <thead>
                <tr>
                    <th style="width: 30%">Identificación</th>
                    <th style="width: 30%">Tipo</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cuenta of cuentasD">
                    <td> <span class="badge badge-primary text-black">{{cuenta.fila}}</span> {{cuenta.id}}</td>
                    <td>{{cuenta.tipo}}</td>

                    <td style="white-space: nowrap">
                        <a class="btn btn-success" (click)="activar(cuenta)">
                            Activar
                        </a>
                    </td>

                </tr>
            </tbody>
        </table> -->


        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">

                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear Cuenta</h1>
                            </div>

                            <div *ngIf="error!==''"
                                style="background-color: rgb(241, 105, 105); display: flex; align-items: center;">
                                <p
                                    style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                                    Error: {{error}}</p>
                            </div>
                            <div *ngIf="success!==''"
                                style="background-color: rgb(110, 241, 105); display: flex; align-items: center;">
                                <p
                                    style="margin: 5px 10px; padding: 5px 10px; color: white; border-left: 2.5px solid white;">
                                    Muy bien: {{success}}</p>
                            </div>

                            <div *ngIf="objR=='cuenta'">
                                <form class="user" #formCta="ngForm" (ngSubmit)="onSubmit(formCta)">
                                    <div class="form-group">

                                        <select name="id" id="" #id="ngModel" [(ngModel)]="cta.id"
                                            class="form-control form-control-user">
                                            <option value="" selected disabled>Elegir el cliente &dtrif;</option>
                                            <option *ngFor="let cliente of clientes" [value]="cliente._id"
                                                style="width: 200px; height: 100px;">
                                                <div>
                                                    <p><b>{{cliente.nombre}} {{cliente.apellido}}</b>, id:
                                                        {{cliente._id}}
                                                    </p>
                                                </div>
                                            </option>
                                        </select>
                                        <span *ngIf="id.touched && !id.valid">
                                            * La identificación es obligatoria
                                        </span>

                                        <br>
                                    </div>


                                    <div class="form-group">
                                        <select type="text" name="tipo" #tipo="ngModel" [(ngModel)]="cta.tipo"
                                            class="form-control form-control-user" required
                                            pattern="(ahorros|corriente)">
                                            <option value="">Elige una opción &dtrif; </option>
                                            <option value="ahorros">Ahorros</option>
                                            <option value="corriente">Corriente</option>
                                        </select>
                                        <span *ngIf="tipo.touched && !tipo.valid">
                                            * El tipo es obligatorio
                                        </span>
                                    </div>

                                    <span *ngIf="!formCta.form.valid"> Recuerde revisar los campos </span>

                                    <br>
                                    <input type="submit" name="Guardar" value="Guardar" [disabled]="!formCta.form.valid"
                                        class="btn btn-primary btn-user btn-block">
                                </form>

                            </div>
                            <hr>
                            <!-- perpectiva usuario
                            <div class="text-center">
                                <a class="small">Olvidaste tú contraseña?</a>
                            </div>
                            <div class="text-center">
                                <a class="small">¿Ya tienes una cuenta? ¡Ingresa!</a>
                            </div>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>