<body class="bg-gradient-primary">
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">

                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Bienvenido al Sistema Bancario</h1>
                            </div>


                            <form class="user" #formEl="ngForm">
                                <div class="form-group">
                                    <input type="text" name="usuario" #usuario="ngModel" [(ngModel)]="empl.usuario"
                                        required pattern="[a-zA-Z]+" class="form-control form-control-user"
                                        placeholder="Usuario" />
                                    <span *ngIf="usuario.touched && !usuario.valid">
                                        * El usuario es obligatorio
                                    </span>
                                    <br>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="password" #password="ngModel" [(ngModel)]="empl.password"
                                        required pattern="[0-9]+" class="form-control form-control-user"
                                        placeholder="Contraseña" />
                                    <span *ngIf="password.touched && !password.valid">
                                        * La contraseña es obligatoria
                                    </span>

                                </div>

                                <!-- 
                                <br>
                                <div class="form-group">
                                        <select class="form-control form-control-user" type="text" name="rol" #rol="ngModel" [(ngModel)]="empl.rol"
                                            required pattern="(Empleado|Cliente)">
                                            <option value="">Elige una opción &dtrif; </option>
                                            <option>Empleado</option>
                                            <option>Cliente</option>
                                        </select>
                                    <span *ngIf="rol.touched && !rol.valid">
                                        * El rol es obligatorio
                                    </span>
                                </div>
-->

                                <br>

                                <input type="submit" name="Ingresar" value="Ingresar" [disabled]="!formEl.form.valid"
                                    class="btn btn-primary btn-user btn-block" [routerLink]="'/empleado'">
                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small">Olvidaste tú contraseña?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>