<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <i class="fa fa-solid fa-user"></i>
            </div>
            <div class="sidebar-brand-text mx-3">BM Empleado</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" (click)=activarComponente(0)>
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCli"
                aria-expanded="true" aria-controls="collapseCli">
                <i class="fas fa-fw fa-folder"></i>
                <span>Clientes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i
                        class="fa fa-fw fa-chevron-down"></i>
                </span>
            </a>

            <div id="collapseCli" class="collapse" aria-labelledby="headingCli" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <input #cli id="cli" type="hidden" value="cliente">
                    <a class="collapse-item" (click)=activarComponente(1) (click)="getInputValue(cli.value)">Agregar
                    </a>
                    <a class="collapse-item" (click)=activarComponente(2) (click)="getInputValue(cli.value)">Nómina</a>
                    <a class="collapse-item" (click)=activarComponente(3) (click)="getInputValue(cli.value)">Actualizar
                    </a>
                    <a class="collapse-item" (click)=activarComponente(4)
                        (click)="getInputValue(cli.value)">Desactivados
                    </a>

                </div>
            </div>
        </li>

        <!-- Nav Item - Collapse Menu -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCuentas"
                aria-expanded="true" aria-controls="collapseCuentas">
                <i class="fas fa-fw fa-folder"></i>
                <span>Cuentas </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                <i class="fa fa-chevron-down"></i>
            </a>
            <div id="collapseCuentas" class="collapse" aria-labelledby="headingCuentas"
                data-bs-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <input #cuenta type="hidden" id="cuenta" value="cuenta">
                    <a class="collapse-item" (click)=activarComponente(11) (click)="getInputValue(cuenta.value)">
                        Agregar </a>
                    <a class="collapse-item" (click)=activarComponente(2)
                        (click)="getInputValue(cuenta.value)">Nómina</a>
                    <a class="collapse-item" (click)=activarComponente(3)
                        (click)="getInputValue(cuenta.value)">Actualizar</a>
                    <a class="collapse-item" (click)=activarComponente(4)
                        (click)="getInputValue(cuenta.value)">Desactivados
                    </a>

                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar- Logout -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 25px;"> <i>
                        Bienvenid@</i>
                </h4>
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none "></div>
                    <button class="btn btn-gradient-primary" data-bs-toggle="modal" data-bs-target="#logoutModal"
                        (click)="logout()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" style="margin: 6px;"></i>
                        Salir</button>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div *ngIf="option == 0">

                    <div class="container">
                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <div class="p-5">
                                    <div>
                                        <div *ngIf="data">
                                            <h5>Su información: </h5>
                                            <p>Nombre: {{data.nombre}}</p>
                                            <p>Apellido: {{data.apellido}}</p>
                                            <p>Identificacion: {{data.identificacion}}</p>
                                            <p>Nickname: {{data.usuario.nickname}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <div class="p-5">
                                    <div>
                                        <div *ngIf="resumen" class="resumen">
                                            <div class="resum">
                                                <img src="../../assets/imgs/cliente.png" alt="cliente">
                                                <h5>Clientes Registrados: <br> <span>{{resumen.clientes}}</span></h5>
                                            </div>
                                            <div class="resum">
                                                <img src="../../assets/imgs/cuenta-bancaria.png" alt="cuenta-bancaria">
                                                <h5>Total de cuentas: <br> <span>{{resumen.cuentas}}</span></h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div *ngIf="option == 1">

                    <app-ecrear-cliente [objR]="objR"></app-ecrear-cliente>

                </div>
                <div *ngIf="option == 11">
                    <app-ecrear-cuenta [objR]="objR"></app-ecrear-cuenta>
                </div>
                <div *ngIf="option == 2">
                    <app-eleer [objR]="objR"></app-eleer>
                </div>
                <div *ngIf="option == 3">
                    <app-eactualizar [objR]="objR"></app-eactualizar>
                </div>
                <div *ngIf="option == 4">
                    <app-edesactivar [objR]="objR"></app-edesactivar>
                </div>


            </div>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->