<p>id, usuario, monto, destino</p>
	  


<div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-text mx-3">Cuenta 000 0</div>
        </a>


        <hr class="sidebar-divider my-0">

  
        <li class="nav-item">
            <a class="nav-link">
                <span>Transferencia Interna</span></a>
        </li>


        <hr class="sidebar-divider my-0">

    </ul>





    
    <div id="content-wrapper" class="d-flex flex-column">

  
        <div id="content">

          
            <div class="container-fluid">


                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">

                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear Transferencia</h1>
                            </div>

                            <form class="user" #formCta="ngForm">

<!--
                                <div class="form-group">
                                    <input type="text" name="id" #id="ngModel" [(ngModel)]="cta.id" required
                                        pattern="[0-9]+" class="form-control form-control-user"
                                        placeholder="Identificación" />
                                    <span *ngIf="id.touched && !id.valid">
                                        * La identificación es obligatoria
                                    </span>
                                    <br>
                                </div>


                                <div class="form-group">
                                    <select type="text" name="tipo" #tipo="ngModel" [(ngModel)]="cta.tipo"
                                        class="form-control form-control-user" required pattern="(Ahorros|Corriente)">
                                        <option value="">Elige una opción &dtrif; </option>
                                        <option>Ahorros</option>
                                        <option>Corriente</option>
                                    </select>
                                    <span *ngIf="tipo.touched && !tipo.valid">
                                        * El tipo es obligatorio
                                    </span>
                                </div>

                             -->

                                <br>
                                <input type="submit" name="Crear" [disabled]="!formCta.form.valid"
                                    class="btn btn-primary btn-user btn-block">
                                  
                            </form>


                            <hr>
                          
                        </div>
                    </div>
                </div>


            </div>
        </div>

     
    </div>
   